body {
    margin: 0 auto;
    max-width: 600px;
    text-align: center;
}

div {
    background-color: beige;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

h1 {
    color: rgb(158, 121, 29);
    font-family: Georgia;
}
h2 {
    border-top: 2px solid gainsboro;
    padding: 20px;
}

h3{
    text-align: start;
}


div #divtext {
    color: rgb(158, 121, 29);
    font-size: 20px;
    font-weight: bold;
}

li {
    display: inline-block;
    text-decoration: underline;
    font-family: georgia;
    padding: 5px;
}


main #maintext {
    color: black;
    font-family: Georgia;
    font-size: 15px;
    text-align: start;
    padding-bottom: 10px;
}

.Abully {
    background-image: url(image/american-bully.jpeg);
    height: 300px;
    width: 300px;
    background-size: cover;
    border-radius: 50%;
    background-position: center;
    border: 1.5px solid black;
    border-bottom: 3px solid black;
}

footer {
    border-top: 2px solid gainsboro;
    padding-top: 25px;
}



